name: CD Pipeline

on: 
  workflow_run:
    workflows: ["CI Pipeline"]
    types: 
      - completed
    branches: [main, workflow]
  workflow_dispatch: 

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Deploy to Digital Ocean VM
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          password: ${{ secrets.VM_PASSWORD }}
          port: 22
          script: |
            echo "Connected. Creating test directory..."
            cd /home/projects/Our-Shelves || mkdir -p /home/projects/Our-Shelves && cd /home/projects/Our-Shelves
            ls -la ~
            
            
            
            
    